# Grafana provisioning - Prometheus datasource
#
# This automatically configures Prometheus as the default datasource

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
